html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mark-answer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  opacity: 0.3;
}
.mark-answer:hover {
  opacity: 1;
}

.question-prompt {
  border: #005e5e 1px solid;
  border-radius: 0.5rem;
  background: rgba(0, 94, 94, 0.3);
  margin-left: 3em;
}

.answer-prompt {
  margin-right: 3em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
